.activities-list {
  .custom-card {
    opacity: 0.8;
    transition: all 0.6s;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    .p-card-title > .flex > div > a {
      text-decoration: none;
      color: var(--blue-400);
    }
  }

  .custom-card:hover ~ .custom-card {
    opacity: 0.4;
  }
}

.max-h-40rem {
  max-height: 40rem;
}

.bg-transparent {
  background-color: transparent !important;
}
