.custom-card {
  &:hover {
    cursor: pointer;
    box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 11px 15px rgba(0, 0, 0, 0.2);
  }

  .p-card-title > .flex > div > a {
    text-decoration: none;
    color: var(--blue-400);
  }
}
